@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Outfit:wght@300;400;600&display=swap');


.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom:2em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



:root {
  --soft-blue: hsl(215, 51%, 70%); /*soft blue*/
  --cyan: hsl(178, 100%, 50%); /*cyan*/
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);  /*dark blue*/
  --white: hsl(0, 0%, 100%);
  --mobile: 375px;
  --desktop: 1440px;
  font-size: 18px;

}

body {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  font-family:'Outfit', sans-serif;
  color: var(--soft-blue);
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  place-items:center;
  font-size: 1em;
}

.card {
  background: var(--card-bg-color);
  position: relative;
  top:6vw;
  padding: 1.5em;
  height: 65vh;
  width: 35vh;
  border-radius: 20px;
  box-shadow: 0 2em 0 1em rgba(0,0,0, .1);
}

.nft-image,
.blanket {
  border-radius: 10px;
}

.nft-image {
  height: 50%;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
}

.blanket{
  position: absolute;
  height: 100%;
  width: 100%;
}

.blanket:hover {
  cursor: pointer;
  background: var(--cyan);
  opacity: .3;
}


a {
   text-decoration: none;
   color: var(--white);
}

a:hover,
.eth-value {
  color: var(--cyan);
}

.feature {
  border-bottom: 1px solid var(--line-color);
}

.feature-content,
.eth {
  display: inline;
}


.feature {
  display: grid;
  grid-auto-flow: column;
  padding: 1em 0 2em 0;
}

.time {
    display: inline;
    position: absolute;
    right: 1.5em;
}


.artist {
  display: inline;
  width: 100%;
  top: 1em;

}

/* .avatar-container {
  width: 2.2em;
  height: 2.2em;
  clip-path: circle(50% at 50% 50%);
  background: white;
  position: relative;
}

*/

.avatar {
  width: 2em;
  margin-top: 1em;
  border: 2px solid white;
  border-radius: 100px;
}


.artist-name {
  display: inline;
  position: absolute;
  margin-top: 1.5em;
  margin-left: 0.5em;
}

@media (max-width: 375px) {
  .card {
      box-shadow: none;
    }
    body {
      font-size: 12px;
  }
}
